@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);


body 
{
    margin: 0;
}

h1, h2, h3, h4
{
	font-family: Roboto, sans-serif;
}

#name
{
	color: #383838;
}


.favorite-pix img 
{
	width: 25%;
}

h1
    {
        font-family: 'Lora', serif;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: 400;
        color: rgb(46, 45, 46);
    }

    #head-text
    {
        padding: 63 0 0 63;
        width: 564px;
        font-size: 55px;
        margin-bottom: 0px;
        letter-spacing: .143em; 
        color: rgb(80, 80, 80);
    }

    #sub-description
    {
    	font-size: 18px !important;
	    padding-left: 63px;
        font-weight: 200;
	    width: 564px;
	    font-size: 55px;
        text-transform: uppercase;
        letter-spacing: .105em;
        margin-top: 0px;
        color: #B3AB9B;
    }
    
    h3
    {
        font-family: 'Roboto', sans-serif;
        color: #006C80;
        letter-spacing: 0.08em;

    }
    
    .nav-bar a 
    {
        text-decoration: none;
        color: white;
    }
    .nav-bar li
    {
        display: inline;
        font-family: 'Droid Serif', serif;
        font-size: 15px;
        letter-spacing: .1em;
        text-transform: uppercase;
        padding: 0 15px 0 15px;
    }
    .nav-bar
    {
        padding-top: 20px;
        width: 97%;
    }

    .nav-bar li:first-child
    {
        padding-left: 25px;
    }
    
    .nav-bar
    {
        color: white;
        background-color: rgb(46, 45, 46);
        height: 40px;
    }
    #logo-holder
    {
        background-image: url("");
        height: 200px;
        display: inline;
    }
    
    .hero
    {
        background-color: #dfdfdf;
        height: 500px;
        margin-top: -37px;
        background-image: url("rain-hero.jpg");
        background-size: cover;
        width: 100%;
    }
    
    .container
    {
        margin-left: 50px;
        margin-right: 50px;
    }
    .work
    {
        padding: 0 25 0 25;

    }

    .work h3
    {
        font-family: Lora, serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 20px;
        margin-bottom: 0;
    }

    .work a
    {
        text-decoration: none;
        color: #006C80;
    }
    .work a:hover
    {
        color: #00A0BD;
    }

    .work-title
    {
        font-family: Roboto, sans-serif;
        font-weight: 700;
        color: #2E2D2E;
        margin-top: 5px;
        margin-bottom: 0px; 

    }

    .work-time
    {
        font-family: Roboto, sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: .13em;
        font-size: 14px;
        margin-top: 5px;
    }

    .description
    {
        font-family: Lora, serif;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-bottom: 25px; 
    }

    .work ul
    {
        font-family: Lora, serif;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-bottom: 25px; 
    }

    .work li
    {
        padding-bottom: 10px;
    }

    .work-left
    {
        /*float: left;*/
        float: left; 
        width: 33%;
        text-align: center;
        /*background-color: #E2E2E2;*/
    }
    .work-middle
    {
        display: inline-block; 
        width: 33%;
        text-align: center;
        /*background-color: #E2E2E2;*/
    }
    .work-right
    {
        float: right; 
        width: 30%;
        text-align: center;
        /*background-color: #E2E2E2;*/
    }
    .container h3
    {
        font-size: 26px;
        
        
    }


    .foot-text
    {
        color: grey; 
        font-family: Roboto, sans-serif;
        padding-top: 5px;
        margin: 0px;

    }

    .foot-text a
    {
        text-decoration: none;
        color: grey; 
    }

    .dest-text
    {
        display: inline;
    }
    .dest-text p,
    {
        display: block;
        font-family: Georgia, serif;
        font-size: 18px;
        line-height: 28px;
        width: 90%;
    }
    .destination 
    {
        width: 90%;
        height: auto;
    }
    
    .footer
    {
        height: 150px;
        background-color:rgb(46, 45, 46);
        margin-top: 66px;
        display: block;
        margin-top: 150px;
        padding: 45px 0 0 105px;
    }
            



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {
    
    .work {
        width: 94%;
    }
    .work-left {
        width: 41%;
        padding: 1% 4%;
    }
    .work-middle {
        width: 41%;
        padding: 1% 4%;
        margin: 0px 0px 5px 5px;
        float: right;
    }
    
    .work-right {
        clear: both;
        padding: 1% 4%;
        width: auto;
        float: none;
    }

    header, footer {
        padding: 1% 4%;
    }
}

/* for 700px or less */
@media screen and (max-width: 600px) {

    .work-left {
        width: auto;
        float: none;
    }
    
    .work-middle {
        width: auto;
        float: none;
        margin-left: 0px;
    }
    
    .work-right {
        width: auto;
        float: none;
    }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

    header {
        height: auto;
    }
    h1 {
        font-size: 2em;
    }
    .work-right {
        display: none;
    }

}


